* {
    font-family: Roboto;
    color: azure;
}

body {
    display: flex;
    flex-flow: column;
    background-color: #222831;
    gap: 12px;
}

#container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding: 15px;
    background-color: #393E46;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-flow: row;
    background-color: #393E46;
    border-radius: 5px;
}

#cont {
    display: flex;
    flex-flow: column;
    margin: auto;
    text-align: center;
    font-size: 3vh;
}

#img {
    width: 13%;
    border: 3px solid azure;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
}

li {
    margin-bottom: 1vh;
    color: #D65A31;
}

#footer {
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: #393E46;
    border-radius: 5px;
    font-size: 2.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 728px) {
    #container {
        display: flex;
        flex-flow: column wrap;
        padding: 15px;
        background-color: #393E46;
        border-radius: 5px;
    }

    #img {
        width: 35%;
        border: 3px solid azure;
        border-radius: 5px;
    }

    #cont {
        display: flex;
        flex-flow: column;
        width: 55%;
        margin-left: 5%;
        font-size: 4vw;
    }

    #footer {
        font-size: 3vw;
    }
}